#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
#cdrom
# Use graphical install
#graphical
# Run the Setup Agent on first boot
#firstboot --enable
url --url="ftp://192.168.11.10/pub/"
firstboot --disable
eula --agreed
ignoredisk --only-use=sda
reboot
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
##configure x
xconfig --startxonboot --defaultdesktop=GNOME
# Network information
network --bootproto dhcp

# Root password
rootpw --iscrypted $6$gWI7kxPOeu.oBIIx$YxoVqmUVs8lwjVGLf9L8G4O5x0Yn4evz2FiaKM5M0eMX84l9eywpSdzAQVBUu9hN1x5gr8JcqwtoZE/qOMHD50
# System services
services --enabled="chronyd"
# System timezone
timezone America/Chicago --isUtc
user --name=ben --password=$6$h0yvkhzV.6Fn1bW1$vuS0/uh5GmA3m.m9HXUVQsG6/j7xApG5If4OWBpe3DxLYe/fRH0VAvxyrURrBpvO2/Ij6p2n12JRip7e16JN9/ --iscrypted
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
@x11
@gnome-desktop

chrony
kexec-tools
vim
tigervnc-server

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post
yum -y remove gnome-initial-setup
cp /lib/systemd/system/vncserver@.service /etc/systemd/system/vncserver@:1.service
sed -i 's/<USER>/root' /etc/systemd/system/vncserver@:1.service
echo -e "password2017\npassword2017" | vncpasswd /root/.vncpasswd >/dev/null
systemctl daemon-reload

%end
