#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s8 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=enp1s9 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=enp3s0 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$gWI7kxPOeu.oBIIx$YxoVqmUVs8lwjVGLf9L8G4O5x0Yn4evz2FiaKM5M0eMX84l9eywpSdzAQVBUu9hN1x5gr8JcqwtoZE/qOMHD50
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --name=ben --password=$6$h0yvkhzV.6Fn1bW1$vuS0/uh5GmA3m.m9HXUVQsG6/j7xApG5If4OWBpe3DxLYe/fRH0VAvxyrURrBpvO2/Ij6p2n12JRip7e16JN9/ --iscrypted
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
